<form method="POST" action="/submit-form">
    <input type="text" name="name" id="name" placeholder="name"/><br><br>
    <input type="text" name="group" id="group" placeholder="group"/><br><br>
    <input type="text" name="location" id="location" placeholder="location"/><br><br>
    <input type="submit" />
</form>